/* Write your CSS code here */
.login-bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nxt-logo-lg {
  width: 300px;
}

.image-lg {
  width: 350px;
  margin-top: 20px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-label {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

.user-inputs {
  width: 100%;
  background-color: #d7dfe9;
  border: none;
  height: 30px;
}

.form-container {
  width: 100%;
}

.login-button {
  width: 100%;
  background-color: #0b69ff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  height: 35px;
  border-radius: 5px;
  margin-top: 20px;
}

.image-log-for-large {
  width: 500px;
  display: none;
}

@media (min-width: 768px) {
  .image-log-for-large {
    display: flex;
    margin-right: 20px;
    width: 40%;
  }

  .image-lg {
    display: none;
  }

  .login-bg-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .box-container {
    width: 40%;
  }
}
